
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Registration Form</h1>
        @using (Html.BeginForm("Index", "Registration"))
        {
            <table>
                <tr>
                    <td>
                   Username:  @Html.TextBox("textbox1")
                    </td>
                </tr>
                <tr>
                 <td>
                   Password:  @Html.Password("password1")
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        Gender:  
                        <label>Male</label>@Html.RadioButton("Gender", "Male", true, new { id = "male" })
                        <label>Female</label>@Html.RadioButton("Gender", "Female", true, new { id = "female" })
                    </td>
                </tr>
                <tr>
                   
                    <td>
                       Address:  @Html.TextArea("address",new { cols=30, rows=3 })
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        Hobbies:
                        @Html.CheckBox("checkbox1")<label>Singing</label>
                        @Html.CheckBox("checkbox2")<label>Cooking</label>
                        @Html.CheckBox("checkbox3")<label>Dancing</label>
                        @Html.CheckBox("checkbox3")<label>Watching Movies</label>

                    </td>
                </tr>
                <tr>
                    
                    <td>
                        Branch:
                        @Html.DropDownList("Branch", new List<SelectListItem>
                                 {
                                     new SelectListItem { Text = "Select Branch", Value = "1", Selected=true},
                                     new SelectListItem { Text = "CSE", Value = "2"},
                                     new SelectListItem { Text = "ECE", Value = "3"},
                                     new SelectListItem { Text = "Civil", Value = "4"},
                                     new SelectListItem { Text = "IT", Value = "5"}

                                 }, "Mech")
                    </td>
                </tr>
                <tr>
                    
                    <td>
                        Skills:
                        @Html.DropDownList("Skills", new List<SelectListItem>
                                 {
                                     new SelectListItem { Text = "Select Skills", Value = "1", Selected=true},
                                     new SelectListItem { Text = ".Net", Value = "2"},
                                     new SelectListItem { Text = "Oracle", Value = "3"},
                                     new SelectListItem { Text = "c#", Value = "4"},
                                     new SelectListItem { Text = "Artificial intelligence", Value = "5"}
                                 }, "C")
                    </td>
                </tr>
                <tr>
                    
                    <td> <button>Register</button></td>
                </tr>
            </table>
        }
    </div>
</body>
</html>
