
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index page</title>
    @RenderSection("headsection",required:false)
</head>
<body>
    <div> 
        <table border="2" width="800" align="center" cellpadding="5" cellspacing="5">
            <tr style="background-color:dimgrey;color:white;text-align:center">
                <td colspan="2">Voleti Prathyusha|Hyderabad </td>
            </tr>
            <tr height="300">
                <td width="250">
                    <ul>
                        <li>@Html.ActionLink("Home", "Home")</li>
                        <li>@Html.ActionLink("About", "About")</li>
                        <li>@Html.ActionLink("Contact", "Contact")</li>


                    </ul>
                </td>
                <td width="550">
<div style="height:200px">
    @RenderBody()
    </div>           
              <div style="height:100px">
                  @RenderSection("adsSection",required:false)
              </div>      
                </td>
            </tr>
            <tr>
                <td colspan="2" style="background-color:darkcyan;color:white;text-align:center">
                    &copy; copyright 2020 <br />
                    Faculty|courses|projects|Development
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
